<?xml version="1.0"?>
<config>

    <!--config do modulo -->
    <global>
        <modules>
            <academia_helloworld>
                <version>1.0.0</version>
            </academia_helloworld>
        </modules>
    </global>
     <!--definicao da rota -->
    <frontend>
        <routers>
            <helloworldacademia>
                <use>standard</use>
                <args>
                    <module>Academia_HelloWorld</module>
                    <frontName>academia-helloworld</frontName>
                </args>
            </helloworldacademia>
        </routers>
    </frontend>
</config>